* {
    margin: 0 0 0 0;
    padding: 0;
}

.logo_img {
    margin: 0 20px 0 0;
}

.container-fluid {
    background-color: #005670;
    color: #ffffff;
}


.background-image {
    background-image: url('img/body/pic-1.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;

    margin-top: -20px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ebebeb;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */

    font-family: Arial, Helvetica, sans-serif;
}

.text h2 {
    font-size: 35px;
    font-weight: 500;
}

.text p {
    font-size: 16px;
    font-weight: 300;
}


/* exprimental way */